<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%-include("../../includes/head", {page_title: "Orders"}) %>
<body>
    <%-include("../../includes/header") %>
    <main class="container">
        <h1>Cancelled</h1>
        <p>Payment cancelled. Please try again.</p>
    </main>
    <%-include("../../includes/footer") %>
</body>
</html>