<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%-include("../../includes/head", {page_title: "admin tools"}) %>
<body>
    <%-include("../../includes/header") %>
    <main class="container">
        <h1>Manage the </h1>
    </main>
    <%-include("../../includes/footer") %>
</body>
</html>