<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=page_title %></title>
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/styles/pico.min.css" />
    <link rel="stylesheet" href="/styles/pico_config.css" />
    <link rel="stylesheet" href="/styles/custom.css" />
</head>
